.header
	.header__container
		a.header__logo(href="/") <span>Product</span>
			<svg class="header__logo-ico">
				<use xlink:href="@img/icons/icons.svg#svg-logo"></use>
			</svg>
		.header__menu.menu
			button.menu__icon.icon-menu(type="button", title="menu button")
				span
			nav.menu__body
				a.menu__logo(href="/") <span>Product</span>
					<svg class="menu__logo-ico">
						<use xlink:href="@img/icons/icons.svg#svg-logo"></use>
					</svg>
				ul.menu__list
					li.menu__item
						a.menu__link(href="#work") Our work
					li.menu__item
						a.menu__link(href="#prices") Services and prices
					li.menu__item
						a.menu__link(href="#contacts") Contacts
		a.header__phone.phone(href="tel:+380934209222", title="phone")
			<svg class="phone__icon"><use xlink:href="@img/icons/icons.svg#svg-phone"></use></svg>
			.phone__number +3 8093 42 09 222