.hero {
	margin-bottom: 7.7rem;
	&__container {
		background: url("../img/hero-img-pc.png") no-repeat;
		background-size: 274px;
		background-position-x: -33px;
		background-position-y: 18px;
		padding-top: 13rem;
		@media (min-width:320px){
			background-size: 80%; 
			  
		}
		@media (min-width:$mobileSmall){
			background-size: 70%; 
			  
		}
		@media (min-width:$mobile){
			background-size: 50%; 
			  
		}
	}

	&__title {
		// font-size: rem(36);
		@include adaptiveValue("font-size", 80, 30);
		letter-spacing: 0.04em;
		text-align: right;
		margin-bottom: 2.1rem;
		width: rem(280);
		margin-left: auto;

		@media (min-width:$mobileSmall) {
			width: rem(460);
			// font-size: rem(80);
		}
		@media (min-width:$mobile) {
			width: rem(560);
			// font-size: rem(80);
		}

		b {
			letter-spacing: 0.05em;
		}

		i {
			letter-spacing: 0.05em;
		}

		span {
			letter-spacing: 0.02em;
		}
	}

	&__list {
		font-style: normal;
		font-weight: 300;
		font-size: rem(14);
		line-height: 1;
		margin-bottom: 3.175rem;

		@media (min-width:320px) {
			font-size: rem(18);
			text-align: right;
		}
	}

	&__item {
		position: relative;
		padding-left: 1.325rem;
		margin-bottom: 1.225rem;

		@media (min-width:320px) {
			padding-left: rem(0);
			padding-right: rem(18);

		}

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: rem(12);

			@media (min-width:320px) {
				left: auto;
				right: 0;
			}
		}
	}
}