.work {
	margin-bottom: 7.2rem;
	&__container {
	}
	
	&__title {}
	&__slider-box{
		position: relative;
		margin-bottom: 2.3rem;
	}
	&__slider {

	}
	
	&__title {
		padding-right: rem(80);
		margin-bottom: 2.1rem;
		letter-spacing: 0.9px;
		@media (min-width:$mobile){
			padding-right: 0;
		}
	}

	&__wrapper {
		// width: 40px;
	}

	&__slide {
		// width: 148px;
	}

	&__img {
		width: 100%;
	}

	&__button {
		margin-bottom: 40px;
	}

	&__button-simple {}
}

.swiper-work-nav{
	position: absolute;
	right: rem(0);
	top: -3.375rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.775rem;
	@media (min-width:$mobile){
		 top: auto;
		 right: 50%;
		 transform: translateX(50%);
		 bottom: rem(-30);
	}
}
.swiper-work-button-prev{
	transform: scale(-1, 1);
	cursor: pointer;
	padding: rem(4);
	margin-right: rem(20);
}
.swiper-work-button-next{
	cursor: pointer;
	padding: rem(4);
}