@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-thin.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
