.contact
	.contact__container
		.contact__free-wrapper
			.contact__free-title Book a free video-consultation
			button.contact__free-button.button-simple Schedule
		//- .contact__form-wrapper
		h2.contact__title.title Contact us <i>to discuss your project</i>
		form.contact__form(action="")
			input.contact__input(type="text", placeholder="name") 
			input.contact__input(type="email", placeholder="email") 
			input.contact__input(type="phone", placeholder="phone")
			textarea.contact__textarea(name="", placeholder="Describe your project")
			button.contact__button <span>Contact us</span>