footer.footer
	.footer__container
		a.footer__logo(href="/") <span>Product</span>
			<svg class="footer__logo-ico">
				<use xlink:href="@img/icons/icons.svg#svg-logo"></use>
			</svg>
		ul.footer__menu
			li.footer__item
				a.footer__link(href="#work") Our work
			li.footer__item
				a.footer__link(href="#prices") Services and prices
			li.footer__item
				a.footer__link(href="#contacts") Contacts
		.footer__copy © 2022 Product 3D