.hero
	.hero__container
		h1.hero__title.title <b>modeling</b> <i>rendering</i> <span>animation</span>
		ul.hero__list
			li.hero__item._icon-diamond Modeling and product visualization
			li.hero__item._icon-diamond Photorealistic package visualisation
			li.hero__item._icon-diamond CGI animation for presentations and ads
		button.button.button--right.hero__button <span>Get in touch today</span>