.we
	.we__container
		.we__content
			.we__vertical We are
			.we__text-box
				h2.we__title.title 3D studio</br><i>based in Vilnius</I>
				p.we__paragraph.paragraph We help clients all over the world to create photo-realistic 3d product, images and animations for e-commerce, presentations and marketing.
				p.we__paragraph.paragraph We can create any virtual objects in static and motion to solve your business tasks.
		.we__img
			img(src="@img/we-are.png", alt="we are 3D studio based in Vilnius")
		ul.we__list
			li.we__item 7+ years experience
			//- li.we__item Extreme attention	
			li.we__item Extreme attention to detail
			li.we__item Fixed prices 
			li.we__item Organized approach