.work
	.work__container
		.work__title.title Our <i>works</i>
		.work__slider-box
			.swiper-work-nav
				.swiper-work-button-prev._icon-arrow-slider
				.swiper-work-button-next._icon-arrow-slider
			.work__slider.swiper.swiper-work
				.work__wrapper.swiper-wrapper
					.work__slide.swiper-slide
						img.work__img(src="@img/slider/works/our-works-1.png", alt="product render")
					.work__slide.swiper-slide
						img.work__img(src="@img/slider/works/our-works-2.png", alt="product render")
					.work__slide.swiper-slide
						img.work__img(src="@img/slider/works/our-works-3.png", alt="product render")
		.work__button.button <span>Get in touch today</span>
		.work__button-simple.button-simple prices