.product
	.product__container
		.product__title.title 3d product</br><i>rendering</i>
		.product__slider-wrapper
			.product__slider-box
				.swiper-product-nav
					.swiper-product-button-prev._icon-arrow-slider
					.swiper-pagination
					.swiper-product-button-next._icon-arrow-slider
				.product__slider.swiper-product
					.product__wrapper.swiper-wrapper
						.product__slide.swiper-slide
							img.product__img(src="@img/slider/products/product-4.jpg", alt="product render")
						.product__slide.swiper-slide
							img.product__img(src="@img/slider/products/product-3.jpg", alt="product render")
						.product__slide.swiper-slide
							img.product__img(src="@img/slider/products/product-2.jpg", alt="product render")
						.product__slide.swiper-slide
							img.product__img(src="@img/slider/products/product-1.jpg", alt="product render")
		.product__content
			.product__paragraph.paragraph Do you want to get an exact 3D copy or individual images of your product to show on your website?
			.product__paragraph.paragraph Or maybe you need to show customers and investors a product that is currently under development?  The possibilities of 3D product visualization are endless
			.product__button.button.button--left <span>prices</span>
			.product__paragraph.paragraph--strong-italic It will be enough for us to get your 3D CAD files, but if you don't have them, you can use drawings, photos or just ideas in your head.