.package
	.package__container
		.package__title.title 3D PACKAGE <i>RENDERING</i>
		.package__slider-box
			.swiper-package-nav
				.swiper-package-button-prev._icon-arrow-slider
				.swiper-package-pagination
				.swiper-package-button-next._icon-arrow-slider
			.package__slider.swiper-package
				.package__wrapper.swiper-wrapper
					.package__slide.swiper-slide
						img.package__img(src="@img/slider/package/package-1.jpg", alt="package render")
					.package__slide.swiper-slide
						img.package__img(src="@img/slider/package/package-2.jpg", alt="package render")
					.package__slide.swiper-slide
						img.package__img(src="@img/slider/package/package-3.jpg", alt="package render")
		.package__content
			.package__paragraph.paragraph Get photorealistic images of your product packaging for eCommerce, trade-show banners, magazines, and much more.

			.package__paragraph.paragraph We can use your 2D label artwork files to quickly create high-quality and accurate renderings of your product, ready for publication.

			.package__paragraph.paragraph Overpriced photo shoots of your product packaging for advertising and e-commerce are no longer necessary.

			.package__button.button.button--left <span>prices</span>
			.package__paragraph.paragraph--strong-italic Images of your product can be presented in a particular environment, in progress, or in section.