.prices
	.prices__container
		.prices__title.title 3d product <i>animation</i>
		.prices__wrapper
			.prices__card
				img.prices__img(src="@img/slider/products/product-1.jpg", alt="3d product animation")
				h2.prices__title 3d product rendering
				ul.prices__list
					li.prices__item 3D models creation based on drawings
					li.prices__item Creation of 3D models from photos and sketches
					li.prices__item Processing of scan results
					li.prices__item Preparing your model for 3D printing
				.prices__footer
					.prices__cost <span>from</span></br>700<b>$</b>
					.prices__button-box
						.prices__button.button-prices <span>Contact us</span>
			.prices__card
				img.prices__img(src="@img/slider/products/product-2.jpg", alt="3d product animation")
				h2.prices__title 3d package rendering
				ul.prices__list
					li.prices__item 3D models creation based on drawings
					li.prices__item Creation of 3D models from photos and sketches
					li.prices__item Preparation of banners and images
					li.prices__item Variable material and color options
				.prices__footer
					.prices__cost <span>from</span></br>600<b>$</b>
					.prices__button-box
						.prices__button.button-prices <span>Contact us</span>
			.prices__card
				img.prices__img(src="@img/slider/products/product-3.jpg", alt="3d product animation")
				h2.prices__title 3d product animation
				ul.prices__list
					li.prices__item 3D models creation
					li.prices__item Creation of the environment and materials
					li.prices__item Storyboard
					li.prices__item Sound design
				.prices__footer
					.prices__cost <span>from</span></br>3000<b>$</b><br/><span>for 30 sec video</span>
					.prices__button-box
						.prices__button.button-prices <span>Contact us</span>