.pro-3d
	.pro-3d__container
		.pro-3d__title.title The pro-3d <i>team</i>
		.pro-3d__slider-box
			.swiper-pro-3d-nav
				.swiper-pro-3d-button-prev._icon-arrow-slider
				.swiper-pro-3d-button-next._icon-arrow-slider
			.pro-3d__slider.swiper.swiper-pro-3d
				.pro-3d__wrapper.swiper-wrapper
					.pro-3d__slide.swiper-slide
						.pro-3d__img-box
							img.pro-3d__img(src="@img/slider/pro/pro-2.png", alt="product render")
						.pro-3d__slide-name Cyril Genba
						.pro-3d__slide-occupation CMO
					.pro-3d__slide.swiper-slide
						.pro-3d__img-box
							img.pro-3d__img(src="@img/slider/pro/pro-1.png", alt="product render")
						.pro-3d__slide-name Yulia Volynskova
						.pro-3d__slide-occupation CPO
					.pro-3d__slide.swiper-slide
						.pro-3d__img-box
							img.pro-3d__img(src="@img/slider/pro/pro-no-photo.png", alt="product render")
						.pro-3d__slide-name Max Volynsckov
						.pro-3d__slide-occupation CEO
					.pro-3d__slide.swiper-slide
						.pro-3d__img-box
							img.pro-3d__img(src="@img/slider/pro/pro-no-photo.png", alt="product render")
						.pro-3d__slide-name Apas Yancauscas
						.pro-3d__slide-occupation Chief 3D designer