.priority
	.priority__container
		.priority__title-wrapper
			h2.priority__title.title Our <i>priority</i>
			p.priority__subtitle is to turn a good working relationship into a long-term collaboration!
		.priority__image-wrapper
			img.priority__img(src="@img/priority.png", alt="our priority image")
		.priority__contacts-wrapper
			h3.priority__contacts-title contacts:
			a.priority__phone._icon-phone(href="tel:+79878373829") +7 (987) 837-38-29
			a.priority__email._icon-mail(href="mailto:Info@product3d.pro") Info@product3d.pro