.priority
	.priority__container
		.priority__title-wrapper
			h2.priority__title.title Our <i>priority</i>
			p.priority__subtitle is to turn a good working relationship into a long-term collaboration!
		.priority__image-wrapper
			img.priority__img(src="@img/priority.png", alt="our priority image")
		.priority__contacts-wrapper
			h3.priority__contacts-title contacts:
			.priority__phone._icon-phone +7 (987) 837-38-29
			.priority__email._icon-mail Info@produt3d.pro