// Заголовки, общие БЄМ блоки и проче...
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	font-weight: 550;
	font-size: rem(30);
	line-height: 110%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 40px;
	i{
		font-style: italic;
		font-weight: 300;
	}
}

.button {
	position: relative;
	left: calc(50% - 10px);
	transform: translateX(-50%);
	min-width: 13.8rem;
	max-width: calc(100% - 10px);
	display: inline-block;
	border: 1px solid rgba(#303030, .5);
	cursor: pointer;

	span {
		min-height: 60px;
		position: relative;
		top: 10px;
		left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		padding: rem(20);
		background: $mainColor;
		color: #fff;
		font-size: 0.825rem;

		&::after {
			content: "\e900";
			font-family: "icons";
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: rem(9);
			margin-left: 8px;
		}
	}
}
.button-simple {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: rem(150);
	min-height: rem(50);
	border: 1px solid rgba(#303030, .5);
	text-transform: uppercase;
}
.button-prices {
	background: #fff;
	color: $mainColor;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: rem(120);
	min-height: rem(50);
	/* margin-top: 1.25rem; */
	/* margin-bottom: 1.25rem; */
	cursor: pointer;
	padding: rem(13) rem(15);

	&::after {
		content: "\e900";
		font-family: "icons";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: rem(9);
		margin-left: 10px;
	}
}
.button--left {
	left: 0;
	transform: translateX(0);
	min-width: 149px;
}
.button--right {
	left: calc(100% - 10px);
	transform: translateX(-100%);
}



.paragraph {
	font-weight: 300;
	font-size: rem(13);
	line-height: rem(18.85);
	margin-bottom: rem(20);
}
.paragraph--strong-italic{
	
	font-weight: 700;
	font-style: italic;
	font-size: rem(15);
	line-height: rem(21);
	margin-bottom: rem(20);
}